body{
  background-color: lightblue;
}

.main-content{
  position: relative;
  margin: auto;
  top: 100px;
  background-color: white;
  height: 450px;
  width: 20%;
  border-radius: 20px;
}

.main-content-img{
  position: relative;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  max-width: 100%;
}

.main-content-text{
  position: relative;
  background: white;
  color: black;
  text-align: center;
  width: 90%;
  left: 15px;
  height: 100px;
  padding: 0.5px;
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
}

.main-content-text-2{
  position: relative;
  background: white;
  color: gray;
  text-align: center;
  width: 90%;
  left: 15px;
  height: 90px;
  padding: 0.5px;
  font-family: 'Outfit', sans-serif;
}
